@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main{
    
    background-color: #ffffff;
    width: 500px;
    height: 420px;
    border-radius: 15px 15px 30% 15px;
}

section.principal{
    width: 80%;
    height: 26%;
    margin-left: 40px;
    border-bottom: 0.7px solid #8a8a8a6d;
    
}

div.label{
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 80%;
    color: #8a8a8a;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 10px;
    letter-spacing: 3px;
   
}

label.day{
    position: relative;
    left: -23px;
}

label.month{
    position: relative;
    left: -13px;
}

label.year{
    position: relative;
    left: -28px;
}


div.data{
    display: flex;
    justify-content: space-around;
    width: 80%;  
}

input{
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 10px;
    border: 0.7px solid #8a8a8a6e;
    border-radius: 5px;
     
}

input[type=number]:focus{
    outline: none;
    border: 0.7px solid #864cff;
}

::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.erro{
    display: flex;
    justify-content: space-between;
    width: 302px;
    margin-top: 6px;
    margin-left: 7px;
}


.msn-erro{
    visibility: hidden;
    font-size: 9px;
    font-weight: normal;
    font-style: italic;
    color: hsl(0, 100%, 67%);
    
}



aside{
    display: flex;
    justify-content: flex-end;
    
}

aside button{
    background-color: #864cff;
    border-radius: 50%;
    border-style: none;
    height: 60px;
    position: relative;
    top: -30px;
    left: -30px;
}

.arrow{
    width: 65%;
}

button:active{
    background-color: hsl(0, 0%, 8%);   
}

section.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 40px;
}

h1{
    font-size: 62px;
    font-weight: bolder;
}

span{
    color: #864cff;
}